body {
    font-family: $font-family-ubuntu-sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

a {
    text-decoration: none;
    color: $primary-color;

    &:hover {
        text-decoration: none;
    }
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

// Header
.header {
    .hamburger__menu {
        &__link {
            font-size: 1.5rem;
        }
    }

    .navbar {
        &-brand {
            font-family: $font-family-brnad-cursive;
        }
    }

    &__sidebar {
        width: 20rem;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -40rem;
        background-color: $dark-color;
        transition: left 0.5s;
        z-index: 100;

        &__top {
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid darkslategray;

            .close-btn {
                font-size: 1.75rem;
                background: transparent;
                border-color: transparent;
                color: $danger-color;
                transition: all 0.3s linear;
                cursor: pointer;

                &:hover {
                    color: $success-color;
                    transform: rotate(360deg);
                }
            }
        }

        &__menu {
            padding: 0;

            &__item {
                &__link {
                    display: block;
                    font-size: 1rem;
                    text-transform: capitalize;
                    padding: 0.4rem 2rem;
                    color: $light-color;
                    transition: all 0.3s linear;

                    &:hover {
                        background: $primary-color;
                        color: $dark-color;
                        padding-left: 2.2rem;
                    }
                }
            }

            .dropdown {
                .dropdown-menu {
                    top: -3px;
                    left: 19.9rem;
                    width: 10rem;
                    border-radius: 0;
                    background-color: $dark-color;

                    .dropdown-item {
                        color: $light-color;
                        transition: all 0.3s linear;

                        &:hover {
                            background: $primary-color;
                            color: $dark-color;
                            padding-left: 1.8rem;
                        }
                    }
                }

                .dropdown-toggle {
                    i {
                        margin-left: 5rem;
                    }

                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

    .navbar-collapse {
        .navbar-nav {
            .wishlist,
            .cart {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2.75rem;
                height: 2.75rem;
                border-radius: 50%;
                background-color: white;
                margin-left: 0.75rem;
                transition: all 0.3s;

                &:hover {
                    transform: translateY(-2px);
                }

                a {
                    font-size: 1.3rem;

                    span {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 1.4rem;
                        height: 1.4rem;
                        border-radius: 50%;
                        background-color: $primary-color;
                        font-size: 0.75rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $light-color;
                    }
                }
            }
        }

        .search-box {
            width: 25rem;

            .form-inline {
                position: relative;
                width: 100%;

                .search-product {
                    width: 100%;

                    &:active,
                    &:focus {
                        outline: none !important;
                        box-shadow: none;
                    }
                }

                button {
                    position: absolute;
                    right: 9px;

                    &:active,
                    &:focus {
                        outline: none !important;
                        box-shadow: none;
                    }
                }
            }
        }

        .user-btn {
            button {
                border-radius: 0 !important;
                border: none !important;
                transition: all 0.3s;

                &:active,
                &:focus {
                    border: none !important;
                    outline: none !important;
                    box-shadow: none !important;
                }

                &:hover {
                    transform: translateY(-2px);
                }
            }
        }
    }
}

.change .header__sidebar {
    left: 0;
}
//End Header
