html {
    font-size: 62.5%;
}

.h1,
h2,
h3 {
    font-weight: 700 !important;
}

.h4,
h5,
h6 {
    font-weight: 500 !important;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

p {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #666666;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px 0;
}

img {
    width: 100%;
}

body {
    background-color: $body-bg;
    font-family: "Cairo", sans-serif;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.product-navbar {
    @media (max-width: 768px) {
        position: absolute;
        top: 3px;
        left: 0;
        z-index: 999999;
        width: 220px;

        .header__main__toggle {
            h6 {
                font-size: 14px;
            }
        }

        .header__main__drowp {
            .header__main__drowp__sub {
                a {
                    font-size: 14px;
                }
            }

            .nav-link {
                font-size: 14px;
            }
        }
    }
}

.section-title {
    margin-bottom: 45px;

    h4 {
        color: $font-color;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        display: inline-block;

        &::after {
            position: absolute;
            left: 0;
            bottom: -4px;
            height: 2px;
            width: 70px;
            background: $success-color;
            content: "";
        }
    }
}

// START HEADER SECTION
.hamburger-menu {
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 5rem;
    left: 5rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: left 0.7s;

    &__line {
        width: 100%;
        height: 0.2rem;
        background-color: #fff;
        box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    }

    span {
        position: absolute;
        left: 5rem;
        width: 10rem;
        height: 4rem;
        background-color: #c29525;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: "Baloo Da 2", serif;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;

        &::before {
            content: "";
            position: absolute;
            border-left: 1rem solid transparent;
            border-right: 1rem solid #c29525;
            border-bottom: 1rem solid transparent;
            border-top: 1rem solid transparent;
            top: 50%;
            left: -2rem;
            transform: translateY(-50%);
        }
    }
}

.sidebar {
    width: 23rem;
    height: 100vh;
    position: fixed;
    top: 6rem;
    left: -40rem;
    background-color: $body-bg;
    box-shadow: 3px 0px 6px 0px rgba(0, 0, 0, 0.3);
    transition: left 0.5s;
    z-index: 100;

    &__menu {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        &__item {
            text-align: center;

            &__link {
                font-family: "Baloo Da 2", serif;
                font-size: 4rem;
                color: #555;
                position: relative;

                &::before {
                    content: attr(data-content);
                    position: absolute;
                    top: -9px;
                    left: 0;
                    color: #c29525;
                    width: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    transition: width 0.4s ease-in-out;
                }

                &:hover::before {
                    width: 100%;
                }
            }
        }
    }

    &__social-media {
        background: $dark-color;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
        position: absolute;
        padding-right: 2rem;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2rem;

        a {
            position: relative;

            i {
                font-size: 2.2rem;
                margin: 1rem;
                width: 3.5rem;
                height: 3.5rem;
                color: $light-color;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.3);
                transition: opacity 0.5s;

                &:hover {
                    opacity: 0.7;
                }
            }

            span {
                position: absolute;
                top: 8px;
                font-size: 2rem;
                right: 6px;
                color: $light-color;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    .navbar-nav {
        margin-top: 5.549999rem;

        .nav-item {
            padding: 0rem 3rem;
            transition: background-color 0.5s;

            &:hover {
                background-color: $cyan;
            }

            .nav-link {
                font-size: 1.4rem;
                color: $dark-color;
                transition: color 0.5s;
                padding: 0;

                &:hover {
                    color: $light-color;
                }
            }
        }

        .dropdown {
            .show {
                position: absolute;
                transform: translate3d(30px, 36px, 0px);
                top: -38px !important;
                left: 190px !important;
                background-color: $body-bg;
                border: none;
                border-radius: 0;
                padding: 0;
                will-change: transform;
            }

            .dropdown-menu {
                .dropdown-item {
                    font-size: 1.4rem;
                    padding: 0 1.5rem;
                    transition: all 0.5s;

                    &:hover {
                        background-color: $cyan;
                        color: $light-color;
                    }
                }
            }

            .dropdown-toggle {
                &::after {
                    display: none;
                }
            }
        }
    }
}

.change {
    .hamburger-menu {
        left: 24rem;
        top: 6rem;

        &:hover span {
            opacity: 1;
            visibility: visible;
        }
    }

    .hamburger-menu__line {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .hamburger-menu__line-1 {
        transform: rotate(45deg) translate(0.3rem, 0.8rem);
    }

    .hamburger-menu__line-2 {
        opacity: 0;
        visibility: hidden;
    }

    .hamburger-menu__line-3 {
        transform: rotate(-45deg) translate(0.3rem, -0.8rem);
    }

    .sidebar {
        left: 0;
    }
}
// END HEADER SECTION

// START BANNER SECTION
.banner {
    .carousel-item {
        height: 420px;
    }
}
// END BANNER SECTION

// START PRODUCT SECTION
.product {
    padding-top: 60px;
    padding-bottom: 50px;

    &__item {
        margin-bottom: 35px;

        &__img {
            width: 100%;
            height: auto;
            overflow: hidden;

            .label {
                font-size: 12px;
                color: #ffffff;
                font-weight: 500;
                display: inline-block;
                padding: 2px 8px;
                text-transform: uppercase;
                position: absolute;
                left: -2px;
                top: 10px;

                &.new {
                    background-color: brown;
                }
            }
        }

        &__text {
            text-align: center;
            padding-top: 22px;
            padding-bottom: 22px;

            h6 {
                margin-bottom: 15px;
                color: $font-color;
                font-weight: 400;
                font-family: "Montserrat", sans-serif;
            }
        }

        &:hover {
            .product__hover li {
                top: -100px;
                opacity: 1;
            }
        }
    }

    &__price {
        color: $font-color;
        font-weight: 600;

        span {
            font-size: 14px;
            color: #b1b0b0;
            text-decoration: line-through;
            margin-left: 4px;
        }
    }

    &__hover {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 30px;
        text-align: center;

        li {
            list-style: none;
            display: inline-block;
            margin-right: 10px;
            position: relative;
            top: -215px;
            opacity: 0;

            &:nth-child(1) {
                transition: all 0.4s ease 0.1s;
            }

            &:nth-child(2) {
                transition: all 0.4s ease 0.15s;
            }

            &:nth-child(3) {
                transition: all 0.4s ease 0.2s;
            }

            a {
                font-size: 18px;
                color: #111111;
                display: block;
                height: 45px;
                width: 45px;
                background: #ffffff;
                line-height: 48px;
                text-align: center;
                border-radius: 50%;
                transition: all, 0.5s;

                &:hover {
                    background: $light-color;
                    color: #fff;
                }
            }
        }
    }
}
// END PRODUCT SECTION

// START SUBCRIBE
.subscribe {
    background-color: $primary-color;

    &__text {
        margin-bottom: 0;

        h2 {
            font-size: $h2-font-size;
        }

        span {
            font-size: 14px;
            margin-bottom: 2rem;
        }
    }

    &__form {
        width: 100%;

        .form-group {
            position: relative;
            margin-bottom: 0;
            border: none;
            background: #fff;
            border-radius: 0;

            input {
                background: #fff !important;
                border: 1px solid transparent;
                color: $font-color;
                font-size: 14px;
                font-weight: 300;
                border-radius: 30px;
            }

            .submit {
                border-left: 1px solid #82ae46;
                color: #fff !important;
                border-radius: 0;
                font-size: 12px;
                background: #82ae46 !important;
            }
        }
    }
}
// END SUBCRIBE

// START TREND
.trend {
    padding-top: 80px;
    padding-bottom: 50px;

    &__content {
        .section-title {
            h4 {
                font-size: 20px;

                &::after {
                    bottom: -6px;
                }
            }
        }
    }

    &__item {
        overflow: hidden;
        margin-bottom: 35px;

        &__pic {
            float: left;
            margin-right: 25px;
        }

        &__text {
            overflow: hidden;

            h6 {
                font-size: 14px;
                color: #111111;
                margin-bottom: 5px;
            }

            .rating {
                line-height: 18px;
                margin-bottom: 6px;

                i {
                    font-size: 10px;
                    color: #e3c01c;
                    margin-right: -4px;
                }
            }

            .product__price {
                color: #111111;
                font-weight: 600;
            }
        }
    }
}
// END TREND

// START BLOG
.blog {
    padding-top: 50px;
    padding-bottom: 50px;

    &__item {
        margin-bottom: 30px;

        &__text {
            padding-top: 25px;

            ul {
                margin-bottom: 15px;

                li {
                    font-size: 16px;
                    color: #b2b2b2;
                    list-style: none;
                    display: inline-block;
                    margin-right: 15px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            h5 {
                margin-bottom: 12px;

                a {
                    font-size: 20px;
                    color: $font-color;
                    font-weight: 700;
                }
            }

            p {
                margin-bottom: 25px;
            }
        }
    }
}
// END BLOG

// START BRAND
.brand {
    padding-top: 50px;

    &__item {
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        &:hover {
            .brand__text {
                opacity: 1;
                visibility: visible;

                &::after {
                    opacity: 0.5;
                }
            }
        }
    }

    &__text {
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: all, 0.3s;

        &::after {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: rgba(255, 255, 255, 0.9);
            content: "";
            opacity: 0;
            z-index: -1;
            transition: all, 0.3s;
        }

        a {
            font-size: 16px;
            color: $font-color;
            font-weight: 500;
            display: block;
            margin-top: 10px;
        }
    }
}
// END BRAND

// START FOOR
.footer {
    background: $primary-color;
    padding-top: 70px;
    padding-bottom: 0;

    &__about {
        margin-bottom: 30px;

        &__logo {
            margin-bottom: 15px;

            a {
                display: inline-block;
            }

            ul {
                li {
                    font-size: 14px;
                    color: $font-color;
                    line-height: 36px;
                    list-style: none;
                }
            }
        }
    }

    &__widget {
        margin-bottom: 30px;
        overflow: hidden;

        h6 {
            color: $font-color;
            font-weight: 700 !important;
            margin-bottom: 10px;
        }

        ul {
            width: 50%;
            float: left;

            li {
                list-style: none;

                a {
                    color: $font-color;
                    font-size: 14px;
                    line-height: 32px;
                }
            }
        }

        &__social {
            a {
                display: inline-block;
                height: 41px;
                width: 41px;
                font-size: 16px;
                color: #404040;
                border: 1px solid #ededed;
                border-radius: 50%;
                line-height: 38px;
                text-align: center;
                background: #ffffff;
                transition: all, 0.3s;
                margin-right: 10px;

                &:hover {
                    background: $primary-color;
                    color: #fff;
                    border: $primary-color;
                }
            }
        }
    }
}

.footer-bottom {
    background: $dark-color;

    &__text {
        padding: 10px 0 10px;

        p {
            margin: 0;
            font-size: 14px;
            color: $light-color;

            i {
                color: red;
            }
        }
    }
}
// END FOOR

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}
