.h1,
h2,
h3 {
    font-weight: 700 !important;
}

.h4,
h5,
h6 {
    font-weight: 500 !important;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffe4e1;
}

// START HEADER SECTION

.header {
    &__top {
        background-color: rgb(219, 112, 147);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);

        &__left {
            padding: 10px 0 13px;

            ul {
                li {
                    font-size: 14px;
                    color: #1c1c1c;
                    display: inline-block;
                    margin-right: 45px;
                    position: relative;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        &__right {
            text-align: right;
            padding: 10px 0 13px;
            margin-right: 40px;

            &__social {
                position: relative;
                display: inline-block;
                margin-right: 35px;

                a {
                    font-size: 14px;
                    display: inline-block;
                    color: #1c1c1c;
                    margin-right: 20px;
                    transition: all 0.35s;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }

            &__auth {
                display: inline-block;

                a {
                    display: block;
                    font-size: 14px;
                    color: #1c1c1c;
                    transition: all 0.35s;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
// START HEADER SECTION
