// Body
$body-bg: #ffe6f2;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$big-font-size: 6rem;
$h2-font-size: 3rem;
$normal-font-size: 2rem;
$line-height-base: 2.6;
$font-color: #1c1c1c;

// custom colors
$primary-color: #17a2b8;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
