// Body
$body-bg: #ffe4e1;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$big-font-size: 4rem;
$h2-font-size: 2rem;
$normal-font-size: 1rem;
$line-height-base: 1.6;
$font-color: #1c1c1c;

// custom colors
$pink: rgb(255, 192, 203);
$mistyrose: rgb(255, 228, 225);
$lightpink: rgb(255, 182, 193);
$hotpink: rgb(255, 105, 180);
$shampoopink: rgb(255, 207, 241);

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
